
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpStorm ###
/.idea
###< phpStorm ###

###> composer ###
/composer.lock
###< composer ###

###> package ###
/package-lock.json
###< package ###

###> symfony ###
/symfony.lock
###< symfony ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
