{% extends 'base.html.twig' %}

{% block title %}Edit Config{% endblock %}

{% block body %}
    <h1>Edit Config</h1>

    {{ include('config/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('config_index') }}">back to list</a>

    {{ include('config/_delete_form.html.twig') }}
{% endblock %}