{% extends 'base.html.twig' %}

{% block title %}Config{% endblock %}

{% block body %}
    <h1>Config</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ config.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('config_index') }}">back to list</a>

    <a href="{{ path('config_edit', {'id': config.id}) }}">edit</a>

    {{ include('config/_delete_form.html.twig') }}
{% endblock %}