{% extends 'base.html.twig' %}

{% block title %}Goods index{% endblock %}

{% block body %}
    <h1>Goods index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for good in goods %}
            <tr>
                <td>{{ good.id }}</td>
                <td>
                    <a href="{{ path('goods_show', {'id': good.id}) }}">show</a>
                    <a href="{{ path('goods_edit', {'id': good.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('goods_new') }}">Create new</a>
{% endblock %}