{% extends 'base.html.twig' %}

{% block title %}New Express{% endblock %}

{% block body %}
    <h1>Create new Express</h1>

    {{ include('express/_form.html.twig') }}

    <a href="{{ path('express_index') }}">back to list</a>
{% endblock %}