{% extends 'base.html.twig' %}

{% block title %}Express{% endblock %}

{% block body %}
    <h1>Express</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ express.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('express_index') }}">back to list</a>

    <a href="{{ path('express_edit', {'id': express.id}) }}">edit</a>

    {{ include('express/_delete_form.html.twig') }}
{% endblock %}