@charset "utf-8";

.product-preview-wrap {
    float: left;
}

.product-intro {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.product-preview {
    width: 412px;
    float: left;
    position: relative;
}

.product-preview-main-img {
    width: 412px;
    height: 412px;
    float: left;
    border: 1px solid #eeeeee;
    position: relative;
}

.product-preview-main-video-wrap {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.product-video-btn {
    float: left;
}

.product-video-btn-ico {
    float: left;
    font-size: 36px;
    color: #999;
}

.product-video-btn-ico:hover {
    color: #F10215;
}

.product-video-wrap {
    width: 412px;
    height: 412px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    visibility: hidden;
    /*visibility: visible;*/
}

.product-video-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: #999;
}

.product-video-close:hover {
    color: #F10215;
}

.product-preview-main-img-box {
    width: 400px;
    height: 400px;
    line-height: 400px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.product-preview-main-img-box > img {
    max-height: 100%;
    max-width: 100%;
}

.product-preview-main-img-box-magnifier {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    /*top:0;*/
    /*left: 0;*/
    cursor: move;
    /*background: #ffffcc;*/
    /*border: 1px solid #ccc;*/
    /*filter: alpha(opacity=50);*/
    /*opacity: 0.5;*/
    background-color: transparent;
    background-image: url(../img/public/goods/product-magnifier-cover.png);
}

.product-preview-main-img-big-box {
    width: 412px;
    height: 412px;
    padding: 5px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    position: relative;
    left: 422px;
    top: -412px;
    z-index: 1;
    background-color: #ffffff;
    display: none;
}

.product-preview-main-img-big-box > img {
    position: absolute;
}

.product-preview-thumbnail-wrap {
    width: 100%;
    float: left;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
}

.product-preview-thumbnail-list {
    width: 375px;
    height: 63px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.product-preview-thumbnail-wrap > a {
    width: 15px;
    height: 55px;
    line-height: 55px;
    color: #666666;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 4px;
}

.product-preview-thumbnail-wrap > a:hover {
    background: rgba(0, 0, 0, .1);
}

.product-preview-thumbnail-wrap > .prev {
    left: 0;
}

.product-preview-thumbnail-wrap > .next {
    right: 0;
}

.product-preview-info {
    width: 100%;
    float: left;
    height: 20px;
    line-height: 20px;
    font-family: tahoma, arial, 'Microsoft YaHei', 'Hiragino Sans GB', u5b8bu4f53, sans-serif;
}

.product-preview-info a > i {
    color: #E3393C;
    font-size: 12px;
    margin-right: 3px;
}

.product-preview-info-left {
    float: left;
}

.product-preview-info-left > a {
    margin-right: 5px;
}

.product-preview-info-right {
    float: right;
}

.product-preview-info-right > a {
    color: #999999;
}

.product-preview-info-right > a:hover {
    color: #F10215;
}

.product-preview-thumbnail-list > ul {
    width: 375px;
    position: absolute;
}

.product-preview-thumbnail-list > ul > li {
    float: left;
    margin: 0 6px;
    padding: 2px;
    border: 2px solid #ffffff;
    position: relative;
}

.product-preview-thumbnail-list > ul > .active {
    border: 2px solid #e53e41;
}

.product-preview-thumbnail-list > ul > li:hover {
    border: 2px solid #e53e41;
}

.product-preview-thumbnail-list > ul > li > a {
    width: 55px;
    height: 55px;
    line-height: 52px;
    float: left;
    text-align: center;
}

.product-preview-thumbnail-list > ul > li > a > img {
    max-width: 100%;
    max-height: 100%;
}

.product-info-wrap {
    width: 558px;
    float: left;
    margin: 0 20px;
}

.product-info-name {
    width: 100%;
    float: left;
    line-height: 28px;
    font: 700 16px Arial, "microsoft yahei";
    color: #666;
    margin: 10px 0;
}

.product-info-describe {
    width: 100%;
    line-height: 20px;
    float: left;
    color: #F10215;
    margin-bottom: 10px;
}

.product-info-describe a {
    color: #5e69ad;
    text-decoration: underline;
}

.product-info-wrap .dt {
    float: left;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
}

.product-info-wrap .dd {
    margin-left: 20px;
    float: left;
}

.product-info-price {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
}

.product-info-price .dt {
    margin-top: 2px;
}

.product-info-price .dd {
    height: 100%;
}

.product-info-price .p-price {
    color: #F10215;
    font-family: "microsoft yahei";
    margin-right: 5px;
}

.product-info-price .p-price > span {
    font-size: 16px;
}

.product-info-price .p-price > .price {
    font-size: 22px;
}

.product-info-price-wrap {
    width: 100%;
    padding: 5px 0 5px 0;
    float: left;
    /*background-color: #f5f5f5;*/
    position: relative;
    background: url(../img/public/goods/product-price-bg.png) 0 -12px repeat-x #efefef;
}

.product-info-price-wrap-statistics {
    position: absolute;
    right: 10px;
    top: 20px;
}

.product-info-price-wrap-statistics > div {
    float: left;
    color: #999;
    border-left: solid 1px #e6e6e6;
    text-align: center;
    padding: 0 10px;
    line-height: 15px;
}

.product-info-price-wrap .notice {
    color: #005aa0;
    vertical-align: 2px;
}

.product-info-price-wrap .notice:hover {
    color: #c81623;
}

.product-info-market-price {
    width: 100%;
    float: left;
    line-height: 30px;
}

.product-info-market-price .dd .p-price {
    margin-left: 2px;
    color: #999999;
    line-height: 22px;
    text-decoration: line-through;
}

.product-info-choose-attr {
    width: 100%;
    float: left;
}

.product-info-choose-attr > ul {
    width: 100%;
    float: left;
}

.product-info-choose-attr > ul > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
}

.product-info-choose-attr > ul > li > .dt {
    line-height: 40px;
}

.product-info-choose-attr > ul > li > .dd > a {
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-right: 5px;
    white-space: nowrap;
    color: #666666;
}

.product-info-choose-attr > ul > li > .dd > a:hover {
    border: 1px solid #e3393c;
}

.product-info-choose-attr > ul > li > .dd > .active {
    border: 1px solid #e3393c;
}

.product-info-choose-attr > ul > li > .dd > .disabled {
    border: 1px dashed #ccc;
    color: #999999;
}

.product-info-choose-attr > ul > li > .dd > .disabled:hover {
    border: 1px dashed #ccc;
}

.product-info-strip {
    width: 100%;
    float: left;
    padding: 15px 0;
    border-bottom: 1px dotted #dfdfdf;
}

.product-info-sales-promotion {
    width: 100%;
    float: left;
    line-height: 30px;
}

.sales-promotion-reg-bg {
    color: #df3033;
    border: 1px solid #df3033;
    padding: 2px 3px;
    margin-right: 5px;
    display: inline-block;
    line-height: 16px;
}

.product-summary .dd {

}

.product-summary {
    padding: 10px 0;
}

.product-summary ul li {
    width: 100%;
    float: left;
    line-height: 30px;
}

.product-info-choose-amount-wrap {
    width: 100%;
    margin: 15px 0;
    float: left;
    position: relative;
}

.product-info-choose-amount-wrap-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: wait;
}

.product-info-choose-amount {
    height: 45px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    position: relative;
}

.product-info-choose-amount > input[type="text"] {
    width: 50px;
    height: 100%;
    float: left;
    line-height: 45px;
    border: none;
    text-align: center;
}

.product-info-choose-amount-btn {
    width: 18px;
    height: 100%;
    float: left;
    background: #f1f1f1;
    border-left: 1px solid #ccc;
}

.product-info-choose-amount-btn > a {
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    text-align: center;
}

.product-info-choose-amount-btn > .item {
    border-bottom: 1px solid #ccc;
}

.product-info-choose-amount-btn > a:hover {
    background: rgba(0, 0, 0, .1);
}

.product-info-choose-stock {
    height: 45px;
    line-height: 45px;
    float: left;
    margin-right: 10px;
}

.product-info-choose-btn {
    margin-right: 10px;
    float: left;
}

.product-info-choose-btn > a {
    height: 45px;
    padding: 0 25px;
    font: bold 18px/45px "Microsoft YaHei";
    background-color: #F10215;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

.product-info-choose-btn-buy > a {
    background-color: rgb(260, 128, 0);
}

.product-info-choose-btn-buy > a:hover {
    background-color: rgb(250, 118, 10);
}

.product-info-choose-btn-add > a {
    background-color: #F22D00;

}

.product-info-choose-btn-add > a:hover {
    background-color: #F10215;
}

.guess-you-like-wrap {
    width: 200px;
    padding-left: 20px;
    float: left;
    border-left: 1px solid #eeeeee;
    background-color: #ffffff;
}

.guess-you-like {
    width: 100%;
    float: left;
}

.guess-you-like-header {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
}

.guess-you-like-header > i {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dotted #c9c9c9;
    text-decoration: none;
}

.guess-you-like-header > span {
    position: relative;
    padding: 0 15px;
    color: #999;
    background-color: #ffffff;
}

.guess-you-like-content {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
}

.guess-you-like-content > ul {
    width: 100%;
    height: 465px;
    float: left;
    position: relative;
}

.guess-you-like-content > ul > li {
    width: 100%;
    height: 145px;
    float: left;
    margin-top: 10px;
}

.guess-you-like-content-up {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

.guess-you-like-content-up > img {
    width: 120px;
    height: 120px;
    float: left;
}

.guess-you-like-content-up > p {
    width: 100%;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0;
    color: #404040;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#9FFFFFFF, endcolorstr=#9FFFFFFF);
}

.guess-you-like-content-dn {
    width: 159px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.guess-you-like-content-dn > p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.guess-you-like-content > ul > li > a {
    width: 100%;
    height: 100%;
    float: left;
}

.guess-you-like-content-footer {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
}

.guess-you-like-content-footer > a {
    color: #DDDDDD;
    float: left;
    padding: 0 30px;
    line-height: 20px;
    margin: 0 7px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.guess-you-like-content-footer > a:hover {
    color: #666666;
    background: rgba(0, 0, 0, .1);
}

.shop-info-wrap {
    width: 208px;
    float: left;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.shop-info-name {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    background-color: #f7f7f7;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.shop-info-name > h3 {
    margin: 10px;
    font-weight: bold;
    font-size: 1.17em;
}

.shop-info {
    width: 208px;
    padding: 10px;
    float: left;
    overflow: hidden;
}

.shop-info > .item {
    width: 100%;
    float: left;
    line-height: 25px;
}

.shop-info > .item > dl > dt {
    float: left;
    font-weight: 400;
    line-height: 25px;
}

.shop-info > .item > dl > dd {
    margin-left: 5px;
    float: left;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #3C3C3C;
}

.shop-info > .item > dl > dd > a {
    max-width: 130px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-info > .item > dl > dd > a > i {
    margin-right: 2px;
    float: left;
    line-height: 25px;
}

.shop-info > .shop-rate-wrap {
    width: 100%;
    border-top: dotted 1px #E1E1E1;
    margin-top: 8px;
    padding-top: 8px;
    overflow: hidden;
}

.shop-info > .shop-rate-wrap > .shop-rate {
    width: 218px;
    float: left;
    margin-left: -15px;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl {
    width: 68px;
    line-height: 20px;
    margin-bottom: 0;
    float: left;
    text-align: center;
    border-left: 1px solid #ebebeb;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl:first-child {
    border-left: 1px solid #ffffff;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl > dt {
    font-weight: 400;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl > dd > a {
    color: #00BA97;
    margin-left: 5px;
}

.shop-info-footer {
    width: 100%;
    float: left;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.shop-info-footer-btn {
    width: 100%;
    padding: 10px 0;
    float: left;
    text-align: center;
}

.shop-info-footer-btn > a {
    line-height: 30px;
    padding: 0 13px;
    margin: 0 3px;
    font-size: 12px;
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
    display: inline-block;
}

.shop-info-footer-btn > a > i {
    color: #F10215;
    margin-right: 2px;
}

.product-recommend-wrap {
    width: 100%;
    float: left;
}

.product-recommend {
    width: 100%;
    float: left;
}

.product-recommend-header {
    position: relative;
    background-color: #f7f7f7;
}

.product-recommend-header > ul {
    margin-top: -1px;
    margin-bottom: 0;
    border-bottom: 1px solid #F10215;
}

.product-recommend-header > ul > li {
    padding: 8px 25px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.product-recommend-header > ul > li:hover {
    color: #F10215;
}

.product-recommend-header > ul > .active {
    cursor: default;
    color: #ffffff;
    background-color: #F10215;
}

.product-recommend-header > ul > .active:hover {
    color: #ffffff;
    background-color: #F10215;
}

.product-recommend-content {
    padding: 10px 0;
}

.product-recommend-content .product-recommend-content-list {
    display: none;
}

.product-recommend-content .product-recommend-content-list:first-child {
    display: block;
}

.product-recommend-content-list > ul {
    height: 210px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-recommend-content-list > ul > li {
    width: 160px;
    float: left;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
}

.product-recommend-content-list > ul > li > a {
    width: 100%;
    float: left;
    position: relative;
}

.product-recommend-content-list-up {
    width: 100%;
    height: 160px;
    float: left;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.product-recommend-content-list-up > img {
    width: 100%;
    height: 100%;
    float: left;
}

.product-recommend-content-list-up > p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -36px;
    margin-bottom: 0;
    padding: 2px 7px;
    height: 36px;
    line-height: 16px;
    overflow: hidden;
    color: #ffffff;
    background: rgba(0, 0, 0, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2000000, endcolorstr=#B2000000);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.product-recommend-content-list > ul > li > a:hover .product-recommend-content-list-up > p {
    bottom: 0;
    margin-bottom: 0;
}

.product-recommend-content-list-dn {
    width: 100%;
    height: 18px;
    line-height: 18px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.product-recommend-content-list-dn > strong {
    width: 100%;
    float: left;
    height: 18px;
    line-height: 18px;
    color: #F10215;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;

}

.product-detail-wrap {
    width: 100%;
    float: left;
}

.product-detail-aside {
    width: 210px;
    float: left;
}

.product-detail {
    width: 990px;
    float: right;
}

.product-detail-header {
    width: 988px;
    float: left;
    position: relative;
    background-color: #f7f7f7;
    border-bottom: none;
}

.product-detail-header > ul {
    margin-top: -1px;
    margin-bottom: 0;
    border-bottom: 1px solid #F10215;
}

.product-detail-header > ul > li {
    padding: 8px 25px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.product-detail-header > ul > li:hover {
    color: #F10215;
}

.product-detail-header > ul > .active {
    cursor: default;
    color: #ffffff;
    background-color: #F10215;
}

.product-detail-header > ul > .active:hover {
    color: #ffffff;
    background-color: #F10215;
}

.product-recommend-header-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.product-recommend-header-btn > a {
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    margin: 5px;
    background-color: #F10215;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.product-detail-content-wrap {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.product-detail-content-wrap > .product-detail-content {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.product-detail-content-title {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    overflow: hidden;
}

.product-detail-content-title > h3 {
    font: 700 14px "microsoft yahei";
}

.product-detail-content-parameter {
    padding: 0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product-detail-content-parameter-title {
    padding: 20px 42px;
    height: 70px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-detail-content-parameter-title > span {
    height: 100%;
    float: left;
    margin-right: 5px;
}

.product-detail-content-parameter-title > .parameter-brand-name {
    max-width: 768px;
    height: 100%;
    float: left;
    color: #5e69ad;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-detail-content-parameter-title > .parameter-brand-name:hover {
    color: #F10215;
}

.product-detail-content-parameter-title > .parameter-btn-follow {
    margin-left: 15px;
    float: left;
    line-height: 28px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #666666;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.product-detail-content-parameter-title > .parameter-btn-follow:hover {
    color: #666666;
}

.product-detail-content-parameter-title > .parameter-btn-follow > i {
    color: #F10215;
    margin-right: 3px;
}

.product-detail-content-parameter-list {
    padding: 0 0 15px 0;
    overflow: hidden;
}

.product-detail-content-parameter-list > ul > li {
    width: 200px;
    padding-left: 42px;
    float: left;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-detail-content-parameter-list > ul > li > a {
    color: #5e69ad;
}

.product-detail-content-parameter-list > ul > li > a:hover {
    color: #F10215;
}

.more-parameter {
    text-align: right;
    padding-right: 20px;
    margin-top: -5px;
    margin-bottom: 0;
}

.more-parameter > a {
    color: #005aa0;
}

.more-parameter > a:hover {
    color: #F10215;
}

.product-detail-content-main {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product-detail-specifications {
    margin: 10px 0;
    overflow: hidden;
}

.product-detail-specifications .specifications-item {
    border-top: 1px solid #eee;
    padding: 12px 0;
    line-height: 220%;
    color: #999;
    margin-top: -1px;
    font-size: 12px;
}

.product-detail-specifications .specifications-item > h3 {
    width: 110px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    float: left;
}

.product-detail-specifications .specifications-item > dl {
    margin-left: 110px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0;
}

.product-detail-specifications .specifications-item > dl > dt {
    width: 150px;
    line-height: 26px;
    font-weight: 400;
    float: left;
    text-align: right;
}

.product-detail-specifications .specifications-item > dl > dd {
    margin-left: 190px;
    line-height: 26px;
}

.product-detail-packing {
    border-top: 1px solid #eee;
    padding: 12px 0;
    line-height: 220%;
    color: #999;
    margin-top: -1px;
    font-size: 12px;
}

.product-detail-packing > h3 {
    width: 130px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    float: left;
}

.product-detail-packing > p {
    margin-left: 155px;
    line-height: 26px;
    padding-right: 50px;
}

.product-detail-guarantee {
    margin-top: 10px;
}

.product-detail-guarantee-title {
    position: relative;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    overflow: hidden;
}

.product-detail-guarantee-title > h3 {
    font: 700 14px "microsoft yahei";
}

.product-detail-guarantee-content {
    padding: 10px;
    overflow: visible;
}

.product-detail-guarantee-serve-agree-bd {
    padding: 20px 20px 20px 62px;
}

.product-detail-guarantee-serve-agree-bd > dl > dt {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-left: -42px;
    font-size: 16px;
    color: #F10215;
    font-family: "microsoft yahei";
}

.product-detail-guarantee-serve-agree-bd > dl > dd {
    display: block;
    padding: 10px 0 30px;
    line-height: 18px;
}

.product-detail-guarantee-serve-agree-bd > dl > dt > strong {
    display: inline-block;
    padding: 8px 0 3px;
}

.product-detail-guarantee-serve-agree-bd > dl > dt > i {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    vertical-align: bottom;
    color: #ffffff;
    background-color: #E50100;
    text-align: center;
    font-size: 16px;
    border-radius: 100%;
}

.product-detail-guarantee-explain {
}

.product-detail-guarantee-explain > strong {
    color: #F10215;
}

.product-detail-comment-info {
    padding: 25px 0;
    overflow: hidden;
}

.product-detail-comment-info .comment-percent {
    width: 90px;
    padding: 15px 0 0 40px;
    float: left;
}

.product-detail-comment-info .comment-percent > strong {
    font-size: 12px;
    color: #666;
    font-weight: 400;
}

.product-detail-comment-info .comment-percent .percent-con {
    line-height: 110%;
    font-size: 45px;
    color: #F10215;
    font-family: arial;
}

.product-detail-comment-info .comment-percent .percent-con > span {
    font-size: 23px;
}

.product-detail-comment-info .percent-info {
    margin-left: 120px;
}

.product-detail-comment-info .percent-info .tag-list {
    padding-left: 20px;
    height: auto;
    overflow: visible;
}

.product-detail-comment-info .percent-info .tag-list > span {
    display: inline-block;
    line-height: 20px;
    padding: 0 9px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #999;
}

.product-detail-comment-list {
    min-height: 93px;
}

.product-detail-comment-list-tab-main {
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: #fafafa;
    padding-left: 10px;
    display: block;
}

.product-detail-comment-list-tab-main > ul > li {
    position: relative;
    display: inline-block;
    font-family: "microsoft yahei";
    cursor: pointer;
    padding: 6px 10px;
}

.product-detail-comment-list-tab-main > ul > .active {
    background: #fafafa;
    color: #F10215;
    cursor: default;
}

.product-detail-comment-list-tab-main > ul > .active > a {
    background: #fafafa;
    color: #F10215;
}

.product-detail-comment-list-tab-con {
    padding: 10px 0;
}

.product-detail-comment-list-tab-con .comment-item {
    zoom: 1;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.product-detail-comment-list-tab-con .user-column {
    width: 140px;
    float: left;
}

.product-detail-comment-list-tab-con .user-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-detail-comment-list-tab-con .user-info > img {
    border-radius: 50%;
    margin-right: 5px;
}

.product-detail-comment-list-tab-con .user-level {
    padding-top: 3px;
}

.product-detail-comment-list-tab-con .user-level > span {
    margin-right: 8px;
}

.product-detail-comment-list-tab-con .comment-column {
    margin-left: 150px;
}

.product-detail-comment-list-tab-con .comment-star {
    height: 15px;
    line-height: 15px;
    overflow: hidden;
}

.product-detail-comment-list-tab-con .comment-star > i {
    font-size: 15px;
    color: #F10215;
}

.product-detail-comment-list-tab-con .comment-star > .item {
    color: #C0C0C0;
}

.product-detail-comment-list-tab-con .comment-con {
    font-size: 14px;
    padding: 10px 0;
    line-height: 180%;
    color: #333;
}

.product-detail-comment-list-tab-con .pic-list {
    padding-bottom: 15px;
}

.product-detail-comment-list-tab-con .pic-list > a > img {
    border: 1px solid #e2e2e2;
    padding: 1px;
    margin-right: 6px;
}

.product-detail-comment-list-tab-con .tag-list {
    padding-bottom: 12px;
    height: 35px;
    overflow: hidden;
}

.product-detail-comment-list-tab-con .tag-list > span {
    display: inline-block;
    line-height: 20px;
    padding: 0 9px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #999;
}

.product-detail-comment-list-tab-con .comment-message {
    height: 18px;
    overflow: hidden;
}

.product-detail-comment-list-tab-con .comment-message .order-info {
    float: left;
    color: #999;
}

.product-detail-comment-list-tab-con .comment-message .order-info > span {
    margin-right: 20px;
}

.product-detail-comment-list-tab-con .comment-op {
    float: right;
}

.product-detail-comment-list-tab-con .comment-op > a {
    display: inline-block;
    margin-left: 25px;
}

.product-detail-comment-list-tab-con .comment-op > a:hover {
    color: #F10215;
}

.product-detail-comment-list-tab-con .comment-op > a > i {
    vertical-align: -1px;
    color: #C0C0C0;
    font-size: 15px;
    margin-right: 5px;
}

.product-detail-comment-list-tab-con .comment-op > a:hover i {
    color: #F10215;
}

.product-detail-comment-list-tab-con .append-comment {
    border-top: 1px solid #f0f0f0;
    margin-top: 12px;
    padding-top: 12px;
}

.product-detail-comment-list-tab-con .append-comment .append-time {
    color: #999;
}

.product-detail-comment-list-tab-con .append-comment > .comment-con {
    font-size: 14px;
    padding: 5px 0 10px 0;
    line-height: 180%;
    color: #333;
}

.com-table-footer {
    text-align: right;
}

.product-detail-aside-item-wrap {
    width: 208px;
    float: left;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
}

.product-detail-aside-item-wrap-nav {
    width: 208px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
}

.product-detail-aside-item-wrap-nav .product-detail-aside-item-content {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 10px 9px;
}

.product-detail-aside-item-header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    background-color: #f7f7f7;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.product-detail-aside-item-header > h3 {
    margin: 10px;
    font-weight: bold;
    font-size: 1.17em;
}

.product-detail-aside-item-content {
    width: 100%;
    padding: 10px;
    float: left;
    overflow: hidden;
}

.product-detail-aside-item-content > ul {
    display: none;
}

.product-detail-aside-item-content > ul:first-child {
    display: block;
}

.shop-info-search-content p {
    overflow: hidden;
    padding: 5px;
}

.shop-info-search-content p > span > input[type="text"] {
    width: 104px;
    border: 1px solid #cccccc;
    padding: 2px;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666666;
}

.shop-info-search-content .sp-form-item1 > span > input[type="text"] {
    width: 104px;
}

.shop-info-search-content .sp-form-item2 > span > input[type="text"] {
    width: 39px;
}

.shop-info-search-content .sp-form-item3 > span > input[type="submit"] {
    margin-left: -1px;
    color: #666666;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font: 12px Arial;
}

.shop-info-search-content .sp-form-item3 > span > input[type="submit"]:hover {
    background-color: #f8f8f8;
}

.shop-info-search-content .sp-form-item3 > label {
    width: 48px;
    text-align: right;
    display: inline-block;
    cursor: default;
}

.shop-info-search-content .sp-form-item3 > span {
    display: inline-block;
}

.product-detail-aside-tab-header {
    width: 100%;
    float: left;
    position: relative;
    background-color: #f7f7f7;
}

.product-detail-aside-tab-header > ul {
    width: 100%;
    float: left;
    border-bottom: 1px solid #F10215;
}

.product-detail-aside-tab-header > ul > li {
    float: left;
    padding: 8px 24px;
    font-size: 14px;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.product-detail-aside-tab-header > ul > li:hover {
    color: #F10215;
}

.product-detail-aside-tab-header > ul > .active {
    cursor: default;
    color: #ffffff;
    background-color: #F10215;
}

.product-detail-aside-tab-header > ul > .active:hover {
    color: #ffffff;
    background-color: #F10215;
}

.product-detail-aside-host-content > ul {
    height: 1218px;
    margin-bottom: 0;
}

.product-detail-aside-host-content > ul > li {
    width: 188px;
    margin: 10px 0;
}

.product-detail-aside-host-content .product-recommend-content-list-up {
    width: 160px;
    margin-left: 14px;
    margin-right: 14px;
}

.product-detail-aside-host-content .product-recommend-content-list-dn > strong {
    width: auto;
    float: right;
}

.product-detail-aside-host-content .product-recommend-content-list-dn > span {
    color: #999999;
    float: left;
}

.product-detail-aside-host-content .product-recommend-content-list-dn > span > i {
    width: 18px;
    height: 18px;
    color: #ffffff;
    display: inline-block;
    background-color: #F10215;
    border-radius: 10px;
    margin-right: 3px;
}

.shop-new-product > ul {
    height: 1218px;
    margin-bottom: 0;
}

.shop-new-product > ul > li {
    margin: 10px 14px;
}