@charset "utf-8";

.shop-wrap {
    width: 100%;
    height: 100px;
    padding: 10px;
    background: url(/static/img/public/goods/list/bg-flagship.png) no-repeat right top;
}

.shop-logo {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #FFFFFF;
}

.shop-logo > a {
    width: 100%;
    height: 100%;
    float: left;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
}

.shop-main {
    width: 600px;
    height: 100%;
    float: left;
    margin-left: 10px;
}

.shop-info-name {
    width: 100%;
    height: 18px;
    float: left;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow: hidden;
}

.shop-info-name > a {
    max-width: 500px;
    height: 100%;
    float: left;
    font: 14px/18px "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #333333;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-info-item {
    width: 100%;
    height: 18px;
    float: left;
    font: 12px/18px "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-extend {
    width: 370px;
    height: 100%;
    float: right;
    margin-left: 10px;
}

.shop-extend-btn {
    width: 90px;
    height: 100%;
    float: right;
    margin-right: 50px;
}

.shop-extend-btn-focus {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #DDD;
    color: #666;
    background-color: #f7f7f7;
}

.shop-extend-btn-focus:hover {
    border-color: #F10215;
    color: #F10215;
}

.shop-extend-btn-focus .icon-heart-o {
    vertical-align: -1px;
    margin-right: 5px;
}

.shop-extend-btn-shop-enter {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    background-color: #e4393c;
}

.shop-extend-btn-shop-enter:hover {
    color: #FFFFFF;
    background: #f14a4d;
}

.selector {
    width: 100%;
    float: left;
    border-top: 1px solid #DDDDDD;
}

.selector-item {
    width: 100%;
    float: left;
    position: relative;
    line-height: 35px;
    border-bottom: 1px solid #DDD;
    background: #f3f3f3;
}

.selector-item-key {
    width: 110px;
    height: 35px;
    float: left;
    padding: 0 10px;
    overflow: hidden;
}

.selector-item-value {
    width: 1100px;
    float: left;
    padding: 0 130px 0 10px;
    background: #FFFFFF;
}

.selector-item-value ul {
    width: 100%;
    float: left;
}

.selector-item-value li {
    width: 130px;
    height: 35px;
    float: left;
    margin-right: 5px;
}

.selector-item-value li a {
    width: 100%;
    height: 100%;
    float: left;
    color: #005aa0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selector-item-value li a:hover {
    color: #e4393c;
}

.selector-item-trig {
    width: 1100px;
    float: left;
    padding: 0 130px 0 10px;
    background: #FFFFFF;
}

.selector-item-trig ul {
    width: 100%;
    float: left;
}

.selector-item-trig li {
    height: 35px;
    float: left;
    margin-right: 5px;
}

.selector-item-trig a {
    width: auto;
    float: left;
    height: 23px;
    line-height: 20px;
    margin-top: 6px;
    padding: 2px 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.selector-item-trig .trig-item-title:hover {
    border-top-color: #999;
    border-left-color: #999;
    border-right-color: #999;
    border-bottom-color: #FFFFFF;
}

.selector-item-trig .trig-item-main {
    display: none;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    border: 1px solid #999;
    background-color: #FFFFFF;
}

.selector-item-trig a span {
    color: #005aa0;
}

.selector-item-trig a i {
    color: #666666;
}

.selector-item-extend {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    float: left;
}

.selector-item-extend a {
    padding: 2px 5px;
    border: 1px solid #ddd;
}

.shop-aside {
    width: 180px;
    float: left;
}

.shop-aside-item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.shop-aside-title {
    width: 100%;
    float: left;
    padding: 10px;
    position: relative;
}

.shop-aside-title h3 {
    font-size: 14px;
    font-weight: bold;
}

.shop-aside-title span {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 11px;
    overflow: hidden;
    background: url(/static/img/public/goods/list/shop-list-ad.gif) no-repeat;
}

.shop-aside-content {
    width: 100%;
    float: left;
}

.shop-aside-content ul {
    width: 100%;
    float: left;
}

.shop-aside-content-item {
    width: 100%;
    float: left;
    padding: 10px 9px;
}

.shop-list-wrap {
    width: 1020px;
    float: left;
    margin-left: 10px;
}

.shop-aside-content-item .item-img {
    float: left;
}

.shop-aside-content-item .item-price {
    width: 100%;
    float: left;
    margin: 10px 0;
}

.shop-aside-content-item .item-price strong {
    font-size: 14px;
    color: #e4393c;
    font-weight: 400;
    font-family: Verdana;
}

.shop-aside-content-item .item-name {
    width: 100%;
    float: left;
}

.shop-aside-content-item .item-name a {
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.shop-aside-content-item .item-comment {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.shop-aside-content-item .item-comment span {
    float: left;
}

.shop-aside-content-item .item-comment .item-comment-number {
    max-width: 100px;
    color: #005aa0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}