#content {
    background-color: #f6f6f6;
    margin-bottom: 30px;
}

#content .breadcrumb {
    background-color: #f5f5f5;
}

div, table {
    margin: 0 auto;
}

/*---------------用户中心---------------*/
.user-mask-wrap{
    float: left;
}
.user-mask-wrap .user-avatar{
    border-radius: 100%;
}

.m_top_bg {
    width: 100%;
    height: 140px;
    background-color: #F10215;
}

.m_logo {
    width: 270px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-top: 40px;
}

.m_search {
    width: 392px;
    height: 40px;
    overflow: hidden;
    background-color: #FFF;
    float: left;
    display: inline;
    margin-left: 330px;
    margin-top: 49px;
}

.m_ipt {
    width: 295px;
    height: 40px;
    line-height: 40px \9;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    float: left;
    padding: 0 10px;
    border: 0;
}

.m_btn {
    width: 70px;
    height: 40px;
    line-height: 40px \9;
    background-color: #f6f6f6;
    color: #555555;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    float: right;
    border: 0;
    cursor: pointer;
}

.m_content {
    width: 1210px;
    overflow: hidden;
}

.m_left {
    width: 211px;
    overflow: hidden;
    float: left;
}

.left_n {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 14px;
    text-indent: 68px;
    margin-bottom: 10px;
}

.left_n a {
    color: #ffffff;
}

.left_m {
    overflow: hidden;
    background-color: #FFF;
    padding-bottom: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 5px #e0e0e0;
    -moz-box-shadow: 0 0 5px #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
}

.left_m_t {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 14px;
    text-indent: 68px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.m_left i {
    font-size: 16px;
    margin-left: -21px;
    margin-right: 5px;
    vertical-align: -1px;
}

.left_m ul li {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    color: #3e3e3e;
    text-indent: 68px;
}

.left_m ul li a {
    color: #3e3e3e;
}

.left_m ul li a:hover, .left_m ul li a.active {
    color: #F10215;
}

.m_right {
    width: 979px;
    background-color: #FFF;
    float: right;
    display: inline;
    -webkit-box-shadow: 0 0 5px #e0e0e0;
    -moz-box-shadow: 0 0 5px #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
}

.m_des {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #b6b6b6;
    overflow: hidden;
}

.m_des table {
    width: 100%;
    line-height: 22px;
}

.m_user {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: bold;
}

.m_notice {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 32px;
}

.m_notice i {
    font-size: 16px;
    vertical-align: -1px;
    margin-right: 3px;
}

.mem_t {
    margin: 20px;
    line-height: 30px;
    overflow: hidden;
    color: #333333;
    font-size: 16px;
}

.mem_tit {
    width: 930px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    color: #333333;
    font-size: 16px;
}

table.mon_tab {
    width: 939px;
    background-color: #f6f6f6;
    margin: -10px 20px 20px 20px;
}

table.mon_tab tr td {
    border-collapse: collapse;
    border-bottom: 1px solid #FFF;
    padding: 10px 25px;
}

table.mon_tab tr td span {
    /*font-weight: bold;*/
    /*font-family: "宋体";*/
    /*color: #F10215;*/
}

table.acc_tab {
    width: 939px;
    margin: -10px 20px 20px 20px;
    background-color: #f6f6f6;
    font-family: "宋体";
}

table.acc_tab tr {
    border-bottom: 1px dotted #b6b6b6;
}

table.acc_tab tr:last-child {
    border-bottom: none;
}

table.acc_tab tr td {
    border-collapse: collapse;
    padding: 10px 25px;
}

table.acc_tab tr td.td_l {
    background-color: #f7ece8;
    width: 110px;
    font-family: "Microsoft YaHei";
}

table.acc_tab tr td.b_none {
    border-bottom: 0;
}

table.order_tab {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.order_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
}

.order_tab .jslct {
    width: 188px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #555555;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    position: relative;
    z-index: 0;
    vertical-align: middle;
    cursor: default;
    background: url(../images/d_arrow.png) no-repeat 170px center;
    background-color: #f6f6f6;
    float: left;
    border: 1px solid #d9d9d9;
}

.order_tab .jslct_hover {
    border: 1px solid #d9d9d9;
}

.order_tab .jslct div.jslct_t {
    padding: 0 25px 0 5px;
    line-height: 23px;
    height: 23px;
    position: relative;
    z-index: 2;
    *display: block !important;
    *display: inline;
    zoom: 1;
}

.order_tab .jslct em {
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 23px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order_tab .jslct dl, .order_tab .jslct dl dd {
    padding: 0;
    margin: 0;
    list-style: none
}

.order_tab .jslct dl {
    background: #f6f6f6;
    position: absolute;
    top: 23px;
    left: -1px;
    border: 1px solid #d9d9d9;
    cursor: default;
    line-height: 22px;
    padding: 4px 4px 4px 4px;
    z-index: 1;
    display: none;
    width: 180px;
}

.order_tab .jslct_hover dl {
    border: 1px solid #d9d9d9 !important
}

.order_tab .jslct dl dd {
    padding: 0px 4px 2px 4px;
    *padding: 2px 4px 0 4px;
    border-top: 1px dotted #ccc !important;
    border-top: 1px dotted #d9d9d9;
    white-space: nowrap;
    background: #f6f6f6;
    cursor: pointer;
    *border-left: 1px solid #fff;
}

.order_tab .jslct dl dd.hover {
    background: #666;
    color: #fff;
}

.order_tab .jslct .jslcted {
    background: #efefef;
}

.order_tab .jslct dl dd.noborder {
    border: none !important
}

.btn_u {
    width: 90px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 12px;
    font-family: "宋体";
    text-align: center;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
}

.btn_u a {
    color: #FFF;
}

.address {
    width: 910px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #eaeaea;
    position: relative;
}

.a_close {
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 25px;
    top: 15px;
}

table.add_t tr td {
    padding: 5px 10px;
}

table.add_tab {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.add_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 8px 10px;
}

.add_tab .jslct {
    width: 108px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #555555;
    font-size: 12px;
    font-family: "宋体";
    position: relative;
    z-index: 0;
    vertical-align: middle;
    cursor: default;
    background: url(../images/d_arrow.png) no-repeat 88px center;
    background-color: #f6f6f6;
    float: left;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
}

.add_tab .jslct_hover {
    border: 1px solid #d9d9d9;
}

.add_tab .jslct div.jslct_t {
    padding: 0 25px 0 5px;
    line-height: 23px;
    height: 23px;
    position: relative;
    z-index: 2;
    *display: block !important;
    *display: inline;
    zoom: 1;
}

.add_tab .jslct em {
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 23px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add_tab .jslct dl, .add_tab .jslct dl dd {
    padding: 0;
    margin: 0;
    list-style: none
}

.add_tab .jslct dl {
    background: #f6f6f6;
    position: absolute;
    top: 23px;
    left: -1px;
    border: 1px solid #d9d9d9;
    cursor: default;
    line-height: 22px;
    padding: 4px 4px 4px 4px;
    z-index: 1;
    display: none;
    width: 100px;
}

.add_tab .jslct_hover dl {
    border: 1px solid #d9d9d9 !important
}

.add_tab .jslct dl dd {
    padding: 0px 4px 2px 4px;
    *padding: 2px 4px 0 4px;
    border-top: 1px dotted #ccc !important;
    border-top: 1px dotted #d9d9d9;
    white-space: nowrap;
    background: #f6f6f6;
    cursor: pointer;
    *border-left: 1px solid #fff;
}

.add_tab .jslct dl dd.hover {
    background: #666;
    color: #fff;
}

.add_tab .jslct .jslcted {
    background: #efefef;
}

.add_tab .jslct dl dd.noborder {
    border: none !important
}

.add_ipt {
    width: 176px;
    height: 23px;
    line-height: 23px \9;
    overflow: hidden;
    background-color: #f6f6f6;
    color: #555555;
    font-size: 12px;
    font-family: "宋体";
    padding: 0 10px;
    border: 1px solid #d9d9d9;
}

a.add_b {
    width: 90px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 12px;
    font-family: "宋体";
    text-align: center;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.sm_img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 10px;
    border: 1px solid #eaeaea;
}

.add_txt {
    width: 690px;
    height: 70px;
    line-height: 22px \9;
    overflow: hidden;
    background-color: #f6f6f6;
    color: #555555;
    font-size: 12px;
    font-family: "宋体";
    padding: 10px;
    border: 1px solid #d9d9d9;
}

.r_rad {
    float: left;
    padding-top: 1px;
    margin-right: 2px;
}

.r_txt {
    float: left;
    line-height: 22px;
    margin-right: 15px;
}

.btn_tj {
    width: auto;
    height: 25px;
    line-height: 25px \9;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 12px;
    font-family: "宋体";
    text-align: center;
    padding: 0 18px;
    border: 0;
    cursor: pointer;
}

.code_ipt {
    width: 475px;
    height: 23px;
    line-height: 23px \9;
    overflow: hidden;
    color: #555555;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    padding: 0 10px;
    border: 1px solid #eaeaea;
}

table.ma_tab {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.ma_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    line-height: 20px;
}

.ma_a a {
    color: #F10215;
    margin: 0 10px;
}

.m_num {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    padding: 0 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.m_num a {
    color: #FFF;
}

ul.members {
    overflow: hidden;
}

ul.members li {
    width: 238px;
    height: 88px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 20px 40px;
    border: 1px solid #e2e2e2;
}

ul.members li .nums {
    width: 73px;
    height: 38px;
    overflow: hidden;
    background: url(../images/peo.png) no-repeat center 20px;
    background-color: #f6f6f6;
    text-align: center;
    float: left;
    padding-top: 50px;
    border-right: 1px solid #e2e2e2;
}

ul.members li .m_type {
    width: 164px;
    height: 88px;
    line-height: 88px;
    overflow: hidden;
    color: #F10215;
    font-size: 18px;
    text-align: center;
    float: left;
}

ul.members li .m_type a {
    color: #F10215;
}

ul.members li:hover {
    border: 1px solid #F10215;
}

ul.members li:hover .nums {
    background: url(../images/peo_h.png) no-repeat center 20px;
    background-color: #F10215;
    color: #FFF;
    border-right: 1px solid #F10215;
}

table.mem_tab {
    border-collapse: collapse;
    border: 1px solid #e2e2e2;
}

table.mem_tab tr td {
    border-collapse: collapse;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px dotted #b6b6b6;
    padding: 10px;
    line-height: 20px;
}

.th_bg {
    overflow: hidden;
    background: url(../images/peo_h.png) no-repeat 15px center;
    background-color: #F10215;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    text-indent: 52px;
    border-bottom: 0;
    border-right: 0;
}

.td_bg {
    background-color: #f7ece8;
}

.th_bg1 {
    overflow: hidden;
    background-color: #F10215;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    text-indent: 42px;
    border-bottom: 0;
    border-right: 0;
}

table.co_tab {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.co_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 12px 50px;
    line-height: 20px;
}

.tx {
    width: 90px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: #F10215;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    float: right;
    display: inline-block;
}

.tx a {
    color: #FFF;
}

.tx_l {
    background-color: #f6f6f6;
    text-indent: 40px;
}

.tx_ipt {
    width: 400px;
    height: 25px;
    line-height: 25px \9;
    overflow: hidden;
    color: #555555;
    font-size: 12px;
    font-family: "宋体";
    margin-left: 15px;
    padding: 0;
    border: 0;
}

.tx_txt {
    width: 710px;
    height: 130px;
    line-height: 20px;
    overflow: hidden;
    color: #555555;
    font-size: 12px;
    font-family: "宋体";
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
}