@charset "utf-8";

.shop-wrap {
    width: 100%;
    height: 100px;
    padding: 10px;
    background: url(/static/img/public/goods/list/bg-flagship.png) no-repeat right top;
}

.shop-logo {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #FFFFFF;
}

.shop-logo > a {
    width: 100%;
    height: 100%;
    float: left;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
}

.shop-main {
    width: 600px;
    height: 100%;
    float: left;
    margin-left: 10px;
}

.shop-info-name {
    width: 100%;
    height: 18px;
    float: left;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow: hidden;
}

.shop-info-name > a {
    max-width: 500px;
    height: 100%;
    float: left;
    font: 14px/18px "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #333333;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-info-item {
    width: 100%;
    height: 18px;
    float: left;
    font: 12px/18px "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-extend {
    width: 370px;
    height: 100%;
    float: right;
    margin-left: 10px;
}

.shop-extend-btn {
    width: 90px;
    height: 100%;
    float: right;
    margin-right: 50px;
}

.shop-extend-btn-focus {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #DDD;
    color: #666;
    background-color: #f7f7f7;
}

.shop-extend-btn-focus:hover {
    border-color: #F10215;
    color: #F10215;
}

.shop-extend-btn-focus .icon-heart-o {
    vertical-align: -1px;
    margin-right: 5px;
}

.shop-extend-btn-shop-enter {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    background-color: #e4393c;
}

.shop-extend-btn-shop-enter:hover {
    color: #FFFFFF;
    background: #f14a4d;
}

.selector {
    width: 100%;
    float: left;
    border-top: 1px solid #DDDDDD;
}

.selector-item {
    width: 100%;
    float: left;
    position: relative;
    line-height: 35px;
    border-bottom: 1px solid #DDD;
    background: #f3f3f3;
}

.selector-item-key {
    width: 110px;
    height: 35px;
    float: left;
    padding: 0 10px;
    overflow: hidden;
}

.selector-item-value {
    width: 1100px;
    float: left;
    padding: 0 130px 0 10px;
    background: #FFFFFF;
}

.selector-item-value ul {
    width: 100%;
    float: left;
}

.selector-item-value li {
    width: 130px;
    height: 35px;
    float: left;
    margin-right: 5px;
}

.selector-item-value li a {
    width: 100%;
    height: 100%;
    float: left;
    color: #005aa0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selector-item-value li a:hover {
    color: #e4393c;
}

.selector-item-value-brand {
    padding: 10px 130px 10px 10px;
}

.selector-item-value-brand li {
    width: 118px;
    height: 50px;
    float: left;
    margin: -1px -1px 0 0;
    border: 1px solid #DDD;
    background: #FFF;
    text-align: center;
    position: relative;
}

.selector-item-value-brand li:hover {
    position: relative;
    border: 1px solid #e4393c;
    z-index: 1;
}

.selector-item-value-brand li:hover a {
    border: 1px solid #e4393c;
}

.selector-item-value-brand li:hover .selector-item-value-img {
    display: none;
}

.selector-item-value-brand li a {
    width: 100%;
    height: 100%;
    line-height: 36px;
    border: 1px solid #fff;
    float: left;
    padding: 5px;
    color: #005aa0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selector-item-value-img {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.selector-item-value-img img {
    max-width: 100%;
    max-height: 100%;
}

.selector-item-trig {
    width: 1100px;
    float: left;
    padding: 0 130px 0 10px;
    background: #FFFFFF;
}

.selector-item-trig ul {
    width: 100%;
    float: left;
}

.selector-item-trig .trig-item-wrap {
    height: 35px;
    float: left;
    margin-right: 5px;
}

.selector-item-trig .trig-item-title {
    width: auto;
    float: left;
    height: 23px;
    line-height: 20px;
    margin-top: 6px;
    padding: 2px 3px 2px 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.selector-item-trig .trig-item-title span {
    float: left;
}

.selector-item-trig .trig-item-title-icon {
    margin-left: 3px;
    float: left;
}

.trig-item-wrap-active .trig-item-title {
    border-top-color: #999;
    border-left-color: #999;
    border-right-color: #999;
    border-bottom-color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.trig-item-wrap-active .trig-item-title-icon {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.trig-item-wrap .trig-item-main {
    display: none;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    border: 1px solid #999;
    background-color: #FFFFFF;
    z-index: 1;
}

.trig-item-wrap .trig-item-main ul {
    float: left;
}

.trig-item-wrap .trig-item-main ul li {
    float: left;
    margin: 0 15px;
}

.trig-item-wrap .trig-item-main ul li a {
    max-width: 130px;
    color: #005aa0;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trig-item-wrap .trig-item-main ul li a:hover {
    color: #e4393c;
}

.selector-item-trig a span {
    color: #005aa0;
}

.selector-item-trig a i {
    color: #666666;
}

.selector-item-extend {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    float: left;
}

.selector-item-extend a {
    padding: 2px 5px;
    border: 1px solid #ddd;
}

.shop-aside {
    width: 180px;
    float: left;
}

.shop-aside-item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.shop-aside-title {
    width: 100%;
    float: left;
    padding: 10px;
    position: relative;
}

.shop-aside-title h3 {
    font-size: 14px;
    font-weight: bold;
}

.shop-aside-title span {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 11px;
    overflow: hidden;
    background: url(/static/img/public/goods/list/shop-list-ad.gif) no-repeat;
}

.shop-aside-content {
    width: 100%;
    float: left;
}

.shop-aside-content ul {
    width: 100%;
    float: left;
}

.shop-aside-content-item {
    width: 100%;
    float: left;
    padding: 10px 9px;
}

.shop-aside-content-item .item-img {
    float: left;
}

.shop-aside-content-item .item-price {
    width: 100%;
    float: left;
    margin: 10px 0;
}

.shop-aside-content-item .item-price strong {
    font-size: 14px;
    color: #e4393c;
    font-weight: 400;
    font-family: Verdana;
}

.shop-aside-content-item .item-name {
    width: 100%;
    float: left;
}

.shop-aside-content-item .item-name a {
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.shop-aside-content-item .item-comment {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.shop-aside-content-item .item-comment span {
    float: left;
}

.shop-aside-content-item .item-comment .item-comment-number a {
    max-width: 100px;
    color: #005aa0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-list-wrap {
    width: 1020px;
    float: left;
    margin-left: 10px;
}

.shop-list-filter {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-top: 1px solid #DDD;
}

.shop-list-filter-item {
    width: 100%;
    float: left;
    height: 38px;
    line-height: 25px;
    padding: 6px 8px;
    border-bottom: 1px solid #E7E3E7;
}

.shop-list-filter .sort-wrap {
    background: #F1F1F1;
}

.sort-item-main {
    height: 100%;
    float: left;
}

.sort-item-sort {
    float: left;
    margin-right: 10px;
}

.sort-item-sort a {
    height: 25px;
    line-height: 23px;
    float: left;
    padding: 0 9px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #333;
    margin-right: -1px;
}

.sort-item-sort a:hover {
    position: relative;
    text-decoration: none;
    border-color: #e4393c;
    color: #e4393c;
}

.sort-item-sort .active {
    border-color: #e4393c;
    background: #e4393c;
    color: #FFF;
}

.sort-item-sort .active:hover {
    color: #FFF;
}

.sort-item-price {
    height: 100%;
    float: left;
}

.price-search-set {
    width: 100%;
    height: 100%;
    float: left;
}

.price-search-set > em {
    float: left;
    padding: 0 3px;
    line-height: 23px;
    color: #333;
    text-align: center;
}

.price-search-item > input[type="text"] {
    width: 60px;
    height: 25px;
    float: left;
    padding: 0 5px;
}

.price-search-start {
    float: left;
    height: 100%;
}

.price-search-end {
    float: left;

}

.sort-item-extend {
    float: right;
}

.sort-page-wrap {
    float: left;
    height: 25px;
    line-height: 25px;
}

.sort-page-wrap .result-sum {
    color: #999;
    float: left;
    margin-right: 10px;
}

.sort-page-wrap .result-sum .num {
    color: #666;
    font-family: verdana;
}

.sort-page-wrap .sort-page {
    float: left;
}

.sort-page-text {
    float: left;
    margin-right: 10px;
    font-family: verdana;
}

.sort-page-text b {
    color: #e4393c;
    font-weight: 700;
    font-style: normal;
}

.sort-page > a:hover {
    position: relative;
    border-color: #F10215;
}

.sort-page-prev {
    padding: 0 18px;
    height: 100%;
    float: left;
    border: 1px solid #DDD;
    background: #FFF;
    line-height: 23px;
    font-family: "\5b8b\4f53";
    text-align: center;
    font-size: 16px;
    color: #AAA;
    margin-right: -1px;
}

.sort-page-next {
    padding: 0 18px;
    height: 100%;
    float: left;
    border: 1px solid #DDD;
    background: #FFF;
    line-height: 23px;
    font-family: "\5b8b\4f53";
    text-align: center;
    font-size: 16px;
    color: #AAA;
}

.shop-list-filter .transport-wrap {
    background: #F9F9F9;
}

.goods-shopping-wrap {
    float: left;
    margin-right: 10px;
}

.goods-shopping-wrap ul {
    float: left;
}

.goods-feature-item {
    float: left;
    line-height: 25px;
    margin-right: 5px;
}

.goods-feature-item a {
    float: left;
}

.goods-feature-item a:hover {
    color: #e4393c;
}

.goods-feature-item span {
    float: left;
    font-size: 16px;
    line-height: 23px;
    margin-right: 2px;
}

.goods-list-search {
    float: right;
}

.goods-list-search input[type="text"] {
    width: 108px;
    height: 25px;
    color: #999;
    float: left;
    padding: 3px;
    border: 1px solid #CCC;
}

.goods-list-search a {
    font-size: 12px;
    float: left;
    color: #333;
    border: 1px solid #CCC;
    border-radius: 0;
    margin-left: -1px;
    background-color: #f7f7f7;
    padding: 3px 12px;
}

.shopping-delivery-location {
    float: left;
    padding: 0 5px;
}

.shopping-delivery-address-wrap {
    float: left;
    position: relative;
}

.shopping-delivery-address-title {
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    float: left;
    background: #fff;
    border: 1px solid #CECBCE;
    position: relative;
    cursor: pointer;
}

.shopping-delivery-address-wrap:hover .shopping-delivery-address-title {
    border-bottom: 1px solid #fff;
    z-index: 9;
}

.shopping-delivery-address-wrap:hover .shopping-delivery-address-main {
    display: block;
}

.shopping-delivery-address-main {
    width: 500px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #CECBCE;
    position: absolute;
    left: 0;
    top: 23px;
    display: none;
    z-index: 1;
}

.shopping-delivery-address-title span {
    float: left;
}

.shopping-delivery-address-title-icon {
    margin-left: 5px;
    float: left;
}

.goods-feature-wrap {
    float: left;

}

.goods-list-wrap {
    position: relative;
    width: 100%;
    float: left;
}

.goods-list-item-wrap {
    width: 100%;
    float: left;
    padding: 14px;
    border: 1px solid #fff;
    position: relative;
}

.goods-list-item-wrap:hover {
    border-color: #e9e9e9;
    box-shadow: 0 0 2px 2px #f8f8f8;
}

.goods-list-wrap ul {
    width: 1040px;
    float: left;
    margin-left: -10px;
}

.goods-list-wrap li {
    width: 260px;
    float: left;
    padding: 10px;
}

.goods-list-item-img {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.goods-list-item-img > a {
    float: left;
}

.goods-list-item-icons {
    width: 100%;
    float: left;
}

.item-icons-wrap {
    float: left;
}

.item-icons-wrap {
    margin: 5px 5px 0 0;

}

.goods-list-item-icons .item-icons {
    float: left;
    height: 16px;
    line-height: 14px;
    padding: 0 3px;
    border: 1px solid #e23a3a;
    overflow: hidden;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
    border-radius: 2px;
    color: #e23a3a;
    cursor: default;
}

.goods-list-item-icons .active {
    overflow: hidden;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
    background: #e23a3a;
    color: #FFF;
}

.item-icons-tips {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #c8c8c8;
    -moz-box-shadow: 0 0 2px 2px #eee;
    -webkit-box-shadow: 0 0 2px 2px #eee;
    box-shadow: 0 0 2px 2px #eee;
}

.item-icons-tips .item-icons {
    margin-right: 5px;
}

.item-icons-tips .item-icons-triangle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border: 1px solid #c8c8c8;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.item-icons-tips .item-icons-triangle i {
    display: block;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 8px;
    height: 12px;
    margin-top: 1px;
    margin-left: 3px;
    float: left;
    background-color: #FFFFFF;
}

.goods-focus-wrap {
    position: absolute;
    right: 0;
    bottom: -25px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
}

.goods-list-item-wrap:hover .goods-focus-wrap {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.goods-focus-btn {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border: medium none;
    background: rgba(0, 0, 0, .7);
}

.goods-focus-btn i {
    vertical-align: -1px;
    margin-right: 5px;
}

.goods-note-tips {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.goods-list-item-price {
    width: 100%;
    float: left;
    margin: 10px 0;
}

.goods-list-item-price strong {
    float: left;
    margin-right: 10px;
    color: #e4393c;
    font-size: 20px;
    font-weight: 400;
    font-family: Verdana;
}

.goods-list-item-name {
    width: 100%;
    float: left;
}

.goods-list-item-name a {
    width: 100%;
    height: 36px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.goods-list-item-name a em {
    color: #e4393c;
}

.goods-list-item-commit {
    width: 100%;
    float: left;
    margin: 5px 0;
}

.goods-list-item-commit strong {
    color: #a7a7a7;
    font-weight: 400;
}

.goods-list-item-commit strong a {
    color: #646fb0;
    font-family: verdana;
    font-weight: 700;
}

.goods-list-item-shop {
    width: 100%;
    float: left;
}

.goods-list-item-shop a {
    width: 100%;
    float: left;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.goods-list-item-shop a:hover {
    color: #F10215;
}