@charset "utf-8";

.header-register {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 25px;
    background: url(../img/public/login_header_bg.jpg) repeat-x left bottom;
}

.header-register > .w > .logo {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: relative;
    overflow: hidden;
}

.header-register > .w > .logo > a {
    max-width: 100%;
    height: 100%;
    float: left;
    margin-right: 30px;
}

.header-register > .w > .logo > a > img {
    height: 100%;
    float: left;
}

.header-register > .w > .logo > .logo-salutatory {
    height: 60px;
    color: #333333;
    font: 400 24px/60px "Microsoft YaHei", "Hiragino Sans GB";
    float: left;
    cursor: default;
}

.header-register > .w > .logo > .logo-link {
    width: auto;
    height: 100%;
    float: right;
    font-size: 16px;
    color: #999999;
}

.header-register > .w > .logo > .logo-link > a {
    font-size: 16px;
    color: #333333;
}

.header-register > .w > .logo > .logo-link > a:hover {
    color: #E4393C;
}

.header-register > .w > .logo > .logo-link > a > i {
    vertical-align: -2px;
    font-size: 14px;
    color: #E4393C;
    margin-right: 5px;
}

.content-register {
    width: 100%;
    float: left;
    padding-bottom: 60px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.content-register > .w {
    position: relative;
}

.content-register-from {
    width: 830px;
    margin: 50px auto;
}

.content-register-from > form {
    width: 400px;
    float: left;
}

.content-register-from > form > .input-tip {
    color: #c5c5c5;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    visibility: hidden;
}

.content-register-from > form > .input-tip > .error {
    color: #e22e22;
}

.content-register-from > form > .input-tip > span > i {
    font-size: 16px;
    vertical-align: -2px;
    margin-right: 5px;
}

.content-register-from > form > .form-item {
    position: relative;
    border: solid 1px #ddd;
    width: 398px;
    height: 52px;
}

.content-register-from > form > .form-item > label {
    font-size: 14px;
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
}

.content-register-from > form > .form-item > input[type="text"] {
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}

.content-register-from > form > .form-item > input[type="password"] {
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}

.content-register-from .form-agreement {
    height: 18px;
    line-height: 18px;
}

.content-register-from .form-agreement > div > input[type="checkbox"] {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.content-register-from .form-btn > button {
    width: 100%;
    height: 54px;
    color: #fff;
    background: #e22;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    cursor: pointer;
}

.content-register-from > .content-register-from-link {
    float: left;
    margin-left: 104px;
    height: 605px;
    padding-left: 90px;
    border-left: solid 1px #e6e6e6;
}

.content-register-from-link-third-party-wechat {
    width: 160px;
    margin-left: 30px;
    margin-top: 30px;
}

.content-register-from-link-third-party-qq {
    width: 160px;
    height: 60px;
    border-bottom: solid 1px #ddd;
    margin-left: 30px;
}

.content-register-from-link-third-party > a {
    display: block;
    width: 160px;
    height: 30px;
}

.content-register-from-link-third-party-qq > a > .icon-qq {
    color: #00b4ff
}

.content-register-from-link-third-party-wechat > a > .icon-wechat {
    color: #2ec947
}

.content-register-from-link-third-party > a > i {
    font-size: 30px;
    float: left;
    margin-right: 15px;
}

.content-register-from-link-third-party > a > span {
    font-size: 14px;
    line-height: 30px;
}

.content-register-from-link-third-party-phone-fast-reg {
    background: url(../img/temp/register-from-phone.jpg) no-repeat;
    width: 213px;
    height: 270px;
    margin-top: 50px;
}

.footer-register {
    width: 100%;
    float: left;
    text-align: center;
}

.footer-register > .w > ul {
    margin-top: 25px;
    display: inline-block;
}

.footer-register > .w > ul > li {
    float: left;
}

.footer-register > .w > ul > li > span {
    font-size: 12px;
    float: left;
    line-height: 16px;
    cursor: default;
}

.footer-register > .w > ul > li:first-child > span {
    display: none;
}

.footer-register > .w > ul > li > a {
    margin: 0 15px;
    float: left;
}

.footer-register > .w > p {
    margin-top: 10px;
    margin-bottom: 25px;
}