{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}
    <h1>Create new Payment</h1>

    {{ include('payment/_form.html.twig') }}

    <a href="{{ path('payment_index') }}">back to list</a>
{% endblock %}